<!DOCTYPE html5>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={PageCharset}" />
    <link rel='stylesheet' type='text/css' href='{StyleSheetLink}'>

    <title> {PageTitle} </title>
    <link rel="icon" type="image/png" sizes="32x32" href="/icon32.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Mundo de Terrana</h1>
        <table width="90%" border="0" cellspacing="2" cellpadding="2" align="center" class="main_table">
            <tr>
                <td>
                    <a href="/php/userPage.php?{UserPage}" class="user">
                        <div>{UserName}</div>
                    </a>
                </td>
                <td>
                    <a href="/php/logout.php" class="logout">
                        <div aling="rigth"> Logout </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/php/master.php">
                        <div class="user">{MasterPage}</div>
                    </a>
                </td>
            </tr>
        </table>
    </header>
    <table width="90%" border="0" cellspacing="2" cellpadding="2" align="center" class="main_table">
        <a href="/php/sheet.php">Novo Personagem</a>
        <br>
        <a href="/php/viewPersonage.php">Visualizar Personagem</a>
        <br>
        <a href="/php/sheet.php">Jogar</a>
        <br>
    </table>
</body>

</html>