<!DOCTYPE html5>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={PageCharset}" />
    <link rel='stylesheet' type='text/css' href='{StyleSheetLink}'>
    <script type="text/javascript" src="{JavaScriptLink}"></script>
    <title> {PageTitle} </title>
    <link rel="icon" type="image/png" sizes="32x32" href="/icon32.png">
</head>

<body>
    <header>
        <h1>Login</h1>
    </header>
    <form class="main_form" method="post" action="./auth.php">
        <br><br>
        <input name="user" type="text" class="login_input" placeholder="Usuario"/>
        <br>
        <input name="pass" type="password" class="login_input" placeholder="Senha"/>
        <br>
        <input type="submit" value="Login">
    </form>
</body>

</html>