<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={PageCharset}" />
    <link rel="stylesheet" type="text/css" href="{StyleSheetLink}">
    <script type="text/javascript" src="{JavaScriptLink}"></script>
    <title> {PageTitle} </title>
    <link rel="icon" type="image/png" sizes="32x32" href="../icon32.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<body>
    <h1>Novo Personagem</h1>
    <form action="{Action}" method="POST">
        <table width="75%" border="0" cellspacing="2" cellpadding="2" align="center" class="main_table">
            <tr>
                <td colspan="100">
                    <input type="text" name="name" size="16" class="history_input" placeholder="Nome"> </td>
                <td colspan="100"> {SelectRace} </td>
                <td colspan="100"> {SelectClass} </td>
            </tr>
            <tr>
                <td colspan="100"> {SelectAdventure} </td>
                <td colspan="100">
                    <div id="level" name="level"> </div>
                </td>
                <td colspan="100">
                    <div id="points" name="points"> </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="100">
                    <table width="50%" border="0" cellspacing="2" cellpadding="2" align="center" class="main_table">
                        <tr>
                            <td colspan="2">Características</td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Armadura"> Arm </div>
                            </td>
                            <td>
                                <input type="number" id="armor" name="armor" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Focus"> Foc </div>
                            </td>
                            <td>
                                <input type="number" id="focus" name="focus" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Força"> For </div>
                            </td>
                            <td>
                                <input type="number" id="strength" name="strength" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Habilidade"> Hab </div>
                            </td>
                            <td>
                                <input type="number" id="ability" name="ability" class="number_input" onChange="changeCar()" />
                            </td>
                            <tr>
                            </tr>
                            <td>
                                <div title="Resistencia"> Res </div>
                            </td>
                            <td>
                                <input type="number" id="resistance" name="resistance" class="number_input" onChange="changeCar()" />
                            </td>
                            <tr>
                            </tr>
                            <td>
                                <div title="Precisão"> Pre </div>
                            </td>
                            <td>
                                <input type="number" id="accuracy" name="accuracy" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="100">
                    <table width="50%" border="0" cellspacing="2" cellpadding="2" align="center" class="main_table">
                        <tr>
                            <td colspan="2">Elementos</td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Agua"> Ag </div>
                            </td>
                            <td>
                                <input type="number" id="water" name="water" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Ar"> Ar </div>
                            </td>
                            <td>
                                <input type="number" id="air" name="air" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Fogo"> Fo </div>
                            </td>
                            <td>
                                <input type="number" id="fire" name="fire" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Luz"> Lu </div>
                            </td>
                            <td>
                                <input type="number" id="ligth" name="ligth" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Terra"> Te </div>
                            </td>
                            <td>
                                <input type="number" id="earth" name="earth" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div title="Trevas"> Tr </div>
                            </td>
                            <td>
                                <input type="number" id="darkness" name="darkness" class="number_input" onChange="changeCar()" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="100">
                    <table width="20%" border="0" cellspacing="2" cellpadding="2" align="center" class="main_table">
                        <tr>
                            <td colspan="2">Detalhes</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text_output" title="Pontos de Vida"> PV </div>
                            </td>
                            <td>
                                <div id="HP" name="HP" class="text_output"> 0 </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text_output" title="Regeneração de PV"> RPV </div>
                            </td>
                            <td>
                                <div id="HPR" name="HPR" class="text_output"> 0 </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text_output" title="Pontos de Magia"> PM </div>
                            </td>
                            <td>
                                <div id="MP" name="MP" class="text_output"> 0 </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text_output" title="Regeneração de PM"> RPM </div>
                            </td>
                            <td>
                                <div id="MPR" name="MPR" class="text_output"> 0 </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text_output" title="Pontos de Stamina"> PS </div>
                            </td>
                            <td>
                                <div id="attack" name="attack" class="text_output"> 0 </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text_output" title="Regeneração de PS"> RPS </div>
                            </td>
                            <td>
                                <div id="defense" name="defense" class="text_output"> 0 </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="100"> Vantagens </td>
                <td colspan="100"> Desvantagens </td>
                <td colspan="100"> Perícias </td>
            </tr>
            <tr>
                <td colspan="5" />
                <td colspan="90"> {SelectBenefit} </td>
                <td colspan="10" />
                <td colspan="90"> {SelectInjury} </td>
                <td colspan="10" />
                <td colspan="90"> {SelectKnowledge} </td>
                <td colspan="5" />
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="300">História do Personagem</td>
            </tr>
            <tr>
                <td colspan="300">
                    <input type="text" name="history" placeholder="Faça uma descrição breve do seu Personagem" class="history_input" /> </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Criar" class="submit_input" />
    </form>
</body>

</html>