<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={PageCharset}" />
    <link rel="stylesheet" type="text/css" href="{StyleSheetLink}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="/scripts/experience.js"></script>
    <script src="/scripts/sheet.js"></script>
    <title> {PageTitle} </title>
    <link rel="icon" type="image/png" sizes="32x32" href="../icon32.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<body>
    <header>
        <h1>{Title}</h1>
        <h2>{User}</h2>
    </header>


</body>
</html>