<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset={PageCharset}" />
    <link rel="stylesheet" type="text/css" href="{StyleSheetLink}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="/scripts/experience.js"></script>
    <script src="/scripts/viewCharacter.js"></script>
    <title> {PageTitle} </title>
    <link rel="icon" type="image/png" sizes="32x32" href="../icon32.png">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<body>
    <header>
        <h1>{Title}</h1>
    </header>
    
    <form action="{Post}" method="post"> 
        <table width="75%" border="0" cellspacing="2" cellpadding="2" align="center" class="main_table">
            <tr>
                <td>
                    <div id="name"></div>
                </td>
                <td>
                    <div id="race"></div>
                </td>
                <td>
                    <div id="class"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="adventure"></div>
                </td>
                <td>
                    <div id="level"></div>
                </td>
                <td>
                    <div id="points"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="armor"></div>
                </td>
                <td>
                    <div id="water"></div>
                </td>
                <td>
                    <div id="hp"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="focus"></div>
                </td>
                <td>
                    <div id="air"></div>
                </td>
                <td>
                    <div id="hpr"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="strength"></div>
                </td>
                <td>
                    <div id="fire"></div>
                </td>
                <td>
                    <div id="mp"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="abillity"></div>
                </td>
                <td>
                    <div id="ligth"></div>
                </td>
                <td>
                    <div id="mpr"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="resistance"></div>
                </td>
                <td>
                    <div id="earth"></div>
                </td>
                <td>
                    <div id="sp"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="accuracy"></div>
                </td>
                <td>
                    <div id="darkness"></div>
                </td>
                <td>
                    <div id="spr"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="benefits"></div>
                </td>
                <td>
                    <div id="injurys"></div>
                </td>
                <td>
                    <div id="knowledges"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="skills"></div>
                </td>
                <td>
                    <div id="magics"></div>
                </td>
                <td>
                    <div id="itens"></div>
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>