a
{
    color: #555;
    text-align: right;
}

body
{
    font-family: 'Indie Flower', cursive;
	color:#000;
	background-color:#eed;
	font-size:230%;
	text-align:center;
}

input, select
{
    font-family: 'Indie Flower', cursive;
	font-size:100%;
    text-align:center;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    border:0 none;

}

h1
{
	font-family:courier;
	color:#fff;
	background-color:#333;
}

/*
 *	Classes
 */
 
.history_input
{
    width: 95%;
}

.main_table
{
    font-size:100%;
    text-align:center;
}

.mult_select_input
{
    text-align: left;
    width: 300px;
}

.number_input
{
    width:70px;
}

.number_input_master
{
    width:20%;
}

.select_input, .select_input_master
{
    text-align: left;
    width: 95%;
}

.submit_input, .submit_input_master
{
    
    text-align: center;
    border: none;
    color: #fff;
    background-color: #555;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    cursor:pointer;
    width: 20%;

}

.text_input
{
    text-align: center;
    width: 50%;
}
.text_input_master
{
    text-align: center;
    width: 40%;
}

.user
{
    text-align: left;
}